.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.input-field {
  flex-direction: column;
}

button {
  margin-top: 25px;
}

.center-text {
  text-align: center;
}

